html,body{
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
}
.cart_header{
    width : 100%;
    height: 44px;
    background  : url("../images/header-bg.png");
    -webkit-background-size : 1px 44px;
    position : fixed;
    left: 0;
    top: 0;
    border-bottom: 1px solid #E0E0E0;
}
.cart_header .icon-back{
    width: 40px;
    height: 44px;
    background-position: -20px 0;
    position : absolute;
    top: 0;
    left: 0;
    padding : 11px 10px;

    background-clip: content-box;
    background-origin: content-box;
}
.cart_header .icon-menu{
    width: 40px;
    height: 44px;
    background-position: -60px 0;
    position : absolute;
    top: 0;
    right: 0;
    padding : 11px 10px;

    background-clip: content-box;
    background-origin : content-box;
}
.cart_header p{
    height: 44px;
    line-height: 44px;
    text-align : center;
    font-size : 16px;
}
.tip_words{
    width: 100%;
    height: 36px;
    line-height : 36px;
    text-align : center;
    background-color: #fff;
    border-bottom:1px solid #e0e0e0;
    margin-top:44px;
}
.tip_words span{
    display : inline-block;
    position : relative;
    padding: 5px;
    color : #000;
    font-size: 14px;
}
.tip_words span::before{
    content: '';
    background : url("../images/safe_icon.png") no-repeat;
    -webkit-background-size: 18px 18px;
    background-size: 18px 18px;
    width :18px;
    height: 18px;
    position : absolute;
    left: -15px;
    top : 9px;
}

section{
    margin-top: 20px;
    width: 100%;
    background-color: #fff;
}

.main_product_title{
    width: 100%;
    height: 36px;
    line-height: 36px;
    text-align : center;
    border: 1px solid #e0e0e0;
}
.cart_Check_Box{
    background: url("../images/shop-icon.png") no-repeat;
    background-size: 50px 100px;
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 8px;
    margin-left: 8px;
}
.cart_Check_Box[checked]{
    background-position : -25px 0;
}
.main_product_title .cart_logo{
    background: url("../images/buy-logo.png") no-repeat;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    float: left;
    margin-top: 8px;
    margin-left: 8px;
}
.main_product_title .cart_title{
    font-size: 14px;
    color : #000;
    float: left;
    margin-left:8px;
}
.main_product_title .cart_sale{
    float: right;
    font-size: 14px;
    margin-right:8px;
    color : red;
}
.main_product_content{
    padding: 8px 12px;
    border-bottom: 1px solid #e0e0e0;
}
.content_left{
    float: left;
    margin-right:8px;
}
.content_right{
    overflow : hidden;
}
.content_right .cart_content_img{
    float: left;
}
.content_right .cart_content_img img{
    width: 80px;
    height: 80px;
    display : block;
}
.cart_product_detail{
    overflow : hidden;
    padding-left:8px;
}
.cart_product_detail .cart_detial_title{
    height : 40px;
    line-height: 20px;
    display : block;
    margin-left:8px;
    font-size : 14px;
    overflow : hidden;
}
.cart_product_price{
    color: red;
    font-size: 20px;
    margin-top: 2px;
    padding-left: 8px;
    display: block;
}

.cart_deal_left {
    float: left;
    margin-left: 8px;
}

.cart_deal_left input {
    width: 60px;
    height: 20px;
    float: left;
    text-align: center;
    line-height: 22px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.cart_deal_left span {
    float: left;
    border: 1px solid #e0e0e0;
    padding: 2px 8px;
}

.cart_deal_left span:first-child {
    border-bottom-left-radius: 3px;
}

.cart_deal_left span:first-child {
    border-top-left-radius: 3px;
}

.cart_deal_left span:last-child {
    border-bottom-right-radius: 3px;
}

.cart_deal_left span:last-child {
    border-top-right-radius: 3px;
}

.cart_deal_right {
    float: right;
}

.cart_deal_right span:first-child {
    background: url("../images/delete_up.png") no-repeat;
    background-size: 17px 4px;
    width: 17px;
    height: 4px;
    display: block;
}

.cart_deal_right span:last-child {
    background: url("../images/delete_down.png") no-repeat;
    background-size: 17px 17px;
    width: 17px;
    height: 17px;
    display: block;
    margin-top: -3px;
}

.panel {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
}
.panel .panel_content{
    width: 80%;
    background-color: #fff;
    margin-top: 200px;
    text-align: center;
    margin-left: 10%;
    border-radius: 5px;
    padding: 10px 8px 10px 0;
}

.panel .panel_content .panel_content_header{
    height: 44px;
    line-height: 44px;
    text-align : center;
    border-bottom:1px solid #e0e0e0;
    color : #000;
    font-size : 16px;
}
.panel .panel_content .panel_content_footer{
    width: 80%;
    height: 20px;
    line-height: 20px;
    text-align : center;
}
.panel .panel_content .panel_content_footer input:first-child{
    width: 40%;
    float: left;
    margin-top: 6px;
    margin-left:8px;
    border-radius: 15px;
    font-size : 12px;
}
.panel .panel_content .panel_content_footer input:last-child{
    width: 40%;
    float: right;
    margin-top: 6px;
    margin-right:8px;
    border-radius: 15px;
    font-size : 12px;
    background-color: red;
    color : white;
}

.jump{
    animation: jump 1s ease;
}
@keyframes jump {
    0% {
        opacity: 0;
        transform: translateY(-3000px);
        -webkit-transform: translateY(-3000px);
    }

    65% {
        opacity: 1;
        transform: translateY(30px);
        -webkit-transform: translateY(30px);
    }

    85% {
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
    }

    100% {
        opacity: 1;
        transform: none;
        -webkit-transform: none;
    }
}